*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Rajdhani',sans-serif;
background:#050816;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.result-container{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

.result-card{

background:rgba(12,18,45,0.85);
padding:50px;
border-radius:20px;
text-align:center;
width:400px;

box-shadow:0 0 20px rgba(25,227,255,0.3);
border:1px solid rgba(25,227,255,0.3);

}

.result-card h1{
font-family:'Orbitron',sans-serif;
font-size:32px;
margin-bottom:25px;
color:#19e3ff;
}

.score-box h2{
font-size:40px;
margin-bottom:10px;
}

.score-box p{
font-size:22px;
color:#ffd34d;
}

.stars{
font-size:35px;
margin:20px 0;
}

.feedback{
font-size:20px;
margin-bottom:30px;
color:#aeb7d9;
}

.btn-group{
display:flex;
justify-content:center;
gap:20px;
}

.btn{

text-decoration:none;
padding:12px 20px;
border-radius:10px;
font-weight:600;

}

.retry{
background:#ff2ea6;
color:white;
}

.next{
background:#19e3ff;
color:black;
}